<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контактная форма</title>
</head>
<body>
  <h1>Свяжитесь с нами</h1>
  <form method="post" action="">
    {% csrf_token %}
    <div>
      <label for="name">Введите имя</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="message">Введите сообщение</label>
      <textarea type="text" id="message" rows="5" name="message" required></textarea>
    </div>
    <button type="submit">Отправить</button>

  </form>
</body>
</html>